.theme-switcher__light-theme-icon {
  width: 28px;
  height: 28px;
  background-image: url(../images/theme-switcher/light-theme-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
