.styles__icon {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100px;
  height: 40px;
  background-image: url(../images/styles/icon.svg);
  background-size: cover;
  background-position: center;
  transform: translate(-100%, 0);

  @include mobile {
    width: 70px;
    height: 28px;

  }
}
