.header__burger-container {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  top: 28px;
  right: 18px;
  width: 22px;
  height: 19px;
  border: none;
  padding: 0;
  cursor: pointer;

  @include mobile {
    visibility: visible;
  }
}
