.page__title {
  @include font($font-family, 700, 55px, 60px);
  color: var(--primary-color);
  letter-spacing: -0.5px;

  @include after-laptop {
    font-size: 45px;
  }

  @include mobile {
    font-size: 32px;
    line-height: 40px;
  }
}
