.styles__paragraph {
  visibility: hidden;
  opacity: 0;
  max-width: 460px;
  margin: 0 0 30px;
  transition: opacity 0.6s linear;

  @include after-laptop {
    max-width: 400px;
  }

  @include after-tablet {
    margin: 0;
    grid-row-start: 3;
  }
}
