.trainings__service-link {
  color: var(--primary-color);
  transition: $links-transiton;
  text-decoration: none;

  @include font($font-family, 600, 18px, 28px);

  &:hover {
    opacity: var(--links-hover-opacity);
  }

  @include mobile {
    font-size: 14px;
    line-height: 20px;
  }
}
