.bikes {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 120px;
  margin-bottom: 0;
  padding-bottom: 210px;

  @include after-laptop {
    row-gap: 80px;
    padding-bottom: 150px;
  }

  @include after-tablet {
    overflow: hidden;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
