.theme-switcher__dark-theme-icon {
  width: 19.35px;
  height: 19.35px;
  background-image: url(../images/theme-switcher/dark-theme-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
