.header__link {
  font-family: $font-family;
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
  transition: $links-transiton;

  &:hover {
    opacity: var(--links-hover-opacity);
  }

  @include mobile {
    font-size: 18px;
    line-height: 18px;
  }
}
