$font-family: Inter, Arial, Helvetica, sans-serif;
$main-font-size: 18px;
$primary-color: #151515;
$secondary-color: #222222;
$secondary-color-opacity: 0.7;
$additional-color: #24B47E;
$additional-color-hover: #319E75;
$page-color: #f4f4f4;


