.bikes__button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: $secondary-color;
  opacity: $secondary-color-opacity;
  cursor: pointer;
  transition: $links-transiton, font-weight 0.3s linear;

  @include font($font-family, 400, 18px, 28px);

  &:hover {
    opacity: 0.6;
  }

  @include after-laptop {
    font-size: 16px;
  }

  @include after-tablet {
    transition: $links-transiton, font-weight 0s linear;
    width: 114px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
  }

  @include mobile {
    font-size: 11px;
  }
}
